.admin_lecturer_account, .admin_student_account{
    margin: 0px 350px;
    padding-top: 20px;
    padding-left: 1rem;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.student_quantity {
    margin-top: 50px;
}
.list_lecturers, .list_students {
    margin: 20px 100px;
}
.lecturer_infomation, .student_information {
    margin: 10px 200px;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
}
.infor_ {
    display: flex;
    align-items: center;
}
.lecturer_name, .student_name{
    margin-left: 20px;
    font-size: 15px;
    color:rgb(27, 27, 27);
}