
<h1>Login page</h1>
<form asp-action="Login" asp-controller="Authenticate" method="post">
    <label>Username:</label><br />
    <input type="text" name="username" value="" /><br /><br />
    <label>Password:</label><br />
    <input type="password" name="password" value="" /><br /><br />
    <input type="submit" /><br /><br />
</form>
