.account_detail {
    margin: 0 200px 0;
}
.account_main_detail {
    margin: 30px 100px;
    display: flex;
}
.personal_detail {
    margin-left: 10px;
    border-bottom: 2px solid #5a605b;
    width: 100%;
}
.title_text_1{
    color: #605a5a;
    font-size: 24px;
    text-align: left;
    margin: 10px;
}
.account_information {
    margin: 0 150px
}
.edit_change_button{
    margin-bottom: 20px
}
.information_area{
    width: 40vw;
}