.role{
    margin: 0px 350px;
    padding-top: 20px;
    padding-left: 1rem;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.list_informations{
    margin: 20px 100px;
}
.information {
    margin: 10px 200px;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.name {
    margin-left: 20px;
    font-size: 15px;
    color:rgb(27, 27, 27);
}
.quantity{
    margin-top: 50px;
}