.status{
    margin: 0px 350px;
    padding-top: 20px;
    padding-left: 1rem;
    border-bottom: 1px solid black;
    display: flex;
}
.list_results{
    margin: 20px 100px;
}
.result {
    margin: 10px 200px;
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.result:hover{
    background-color:rgb(229, 229, 229);
    border-radius: 20px;
}
.name {
    margin-left: 20px;
    font-size: 15px;
    color:rgb(27, 27, 27);
}
.name_1 {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 15px;
    color:rgb(27, 27, 27);
}
.grade{
    box-sizing: border-box;
    color: rgba(0,0,0,.549);
    flex: 0 0;
    flex-basis: calc(80% - 1rem + 0.25rem);
    margin-left: 1rem;
    min-width: 0;
    padding-right: 0.25rem;
    margin-right: -0.25rem;
    text-align: right;
}
.grade_information {
    justify-content: space-between;
    display: flex;
    width: 90vw;
}

