.submit_exercise1{
    display: flex;
    justify-content: center;
    padding: 1.25rem 1.5rem 1.5rem 1.5rem;
}
.main_area1{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    max-width: 50rem;
    min-width: 0;
}
.exercise_title1 {
    margin: 30px;
    display: flex;
}
.upload_detail1{
    margin-left: 10px;
}
.title_text2{
    color: #605a5a;
    font-size: 28px;
    text-align: left;
    margin: 10px;
}
.content2 {
    width: 50vw;
}
.content_text2 {
    border-bottom: 2px solid #5a605b;
    font-size: 18px;
    box-sizing: border-box;
    color: rgba(0,0,0,.549);
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
/* .deadline2 {
    text-align: right;
} */
.content_detail2{
    margin: 20px;
    font-size: 16px;
}
.group_button1{
    margin: 20px;
}
.upload_exercise1{
    border: 2px solid rgb(200, 200, 210);
    border-radius: 10px;
    padding: 10px 20px 10px;
    margin: 50px;
    width: 15vw;
}