.submit_exercise{
    display: flex;
    justify-content: center;
    padding: 1.25rem 1.5rem 1.5rem 1.5rem;
}
.main_area{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    max-width: 50rem;
    min-width: 0;
}
.upload_exercise{
    display: inline-block;
    border: 2px solid rgb(200, 200, 210);
    border-radius: 10px;
    padding: 10px 20px 10px;
    margin: 50px;
}
.title_text1{
    color: #605a5a;
    font-size: 24px;
    text-align: left;
    margin: 10px;
}
.content_text1 {
    border-bottom: 2px solid #5a605b;
    font-size: 18px;
    box-sizing: border-box;
    color: rgba(0,0,0,.549);
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.content_detail1{
    margin: 20px;
    font-size: 16px;
}
.upload_area{
    display: inline-block;
}
.your_exercise{
    margin: 20px 0px;
    font-size: 22px;
}
.group_button{
    margin-bottom: 20px;
}