.role{
    margin: 20px 350px;
    padding-top: 20px ;
    padding-left: 1rem;
    border-bottom: 1px solid black;
    height: 2rem;
    display: flex;
}
.list_informations{
    margin: 20px 100px;
}
.information {
    margin: 10px 200px;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.name {
    margin-left: 20px;
    font-size: 15px;
    color:rgb(27, 27, 27);
}
.quantity{
    box-sizing: border-box;
    color: rgba(0,0,0,.549);
    flex: 0 0;
    flex-basis: calc(80% - 1rem + 0.25rem);
    margin-left: 1rem;
    min-width: 0;
    padding-right: 0.25rem;
    margin-right: -0.25rem;
    text-align: right;
}