.exercise_detail{
    margin: 0 200px 0;
}
.main_detail {
    margin: 30px 100px;
    display: flex;
}
.upload_detail{
    margin-left: 10px;
}
.title_text {
    color: #605a5a;
    font-size: 20px;
    text-align: left;
    margin: 10px;
}
.content_text {
    border-bottom: 2px solid #5a605b;
    font-size: 18px;
    box-sizing: border-box;
    color: rgba(0,0,0,.549);
    flex: 0 0;
    margin-left: 1rem;
    min-width: 0;
    padding-right: 0.25rem;
    margin-right: -0.25rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}
.deadline {  
    text-align: right;
}
.content_detail{
    margin: 20px;
    font-size: 16px;
}
.switch{
    margin-left: 50px;
}
.list_submit{
    display: block;
}
.submit_quantity{
    margin: 20px 50px 0;
    color:#415145
}
.student {
    margin: 10px 50px;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.student:hover{
    background-color:rgb(229, 229, 229);
    border-radius: 20px;
    cursor: pointer;
}
.student_name {
    margin-left: 20px;
    font-size: 15px;
    color:rgb(27, 27, 27);
}
.submit_time{
    box-sizing: border-box;
    color: rgba(0,0,0,.549);
    flex: 0 0;
    flex-basis: calc(80% - 1rem + 0.25rem);
    margin-left: 1rem;
    min-width: 0;
    padding-right: 0.25rem;
    margin-right: -0.25rem;
    text-align: right;
}
